<a href="https://colab.research.google.com/github/benzine01/cybersoldier/blob/master/PythonReferences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python list demo
number = []
strings = []
names = ["John", "Eric", "Jessica"]

#Append to List above
number.append(1)
number.append(2)
number.append(3)

strings.append("hello")
strings.append("world")
second_name = names[1]

#this code print out the filled arrays and the second name in the names list
print(number)
print(strings)
print("The second name on the names list is %s" % second_name)

In [ ]:
#Python arithmetic operators order
number = 1+2*3/4.0
print(number)

In [ ]:
#modulus demo
remainder = 11% 3
print(remainder)

In [ ]:

#Multipying strings
LotsOfHellos = "hello" * 10
print(LotsOfHellos )

In [ ]:
#Adding two List 
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

In [ ]:
#String Formating 
#%s - String (or any object with a string representation, like numbers)
#%d - Integers
#%f - Floating point numbers
#%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.
#%x/%X - Integers in hex representation (lowercase/uppercase) **#
name = "Benzine"
print("Hello, %s!" %name)

In [ ]:
data = ("john", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."
print( format_string  % data )

Hello john Doe. Your current balance is $53.44.