<a href="https://colab.research.google.com/github/benzine01/Ebenezer_Ise/blob/master/Stage_B_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing our dataset and loading the necessary libraries
import numpy as np 
import pandas as pd # data processing,
# for plotting
import matplotlib.pyplot as plt 
import seaborn as sns
import matplotlib.gridspec as gridspec
import statsmodels.api as sm
dframe=dframe=pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx')
#dframe.head()
#Renaming the variables
column_names = {'X1':'Relative_Compactness', 'X2': 'Surface_Area', 
                'X3':  'Wall_Area', 'X4': 'Roof_Area', 'X5': 'Overall_Height',
                'X6': 'Orientation', 'X7': 'Glazing_Area', 
                'X8': 'Glazing_Area_Distribution', 
                'Y1': 'Heating_Load', 'Y2': 'Cooling_Load'}


dfram = dframe.rename(columns=column_names)
dframe.head()

In [ ]:
#Renaming the variables
column_names = {'X1':'Relative_Compactness', 'X2': 'Surface_Area', 
                'X3':  'Wall_Area', 'X4': 'Roof_Area', 'X5': 'Overall_Height',
                'X6': 'Orientation', 'X7': 'Glazing_Area', 
                'X8': 'Glazing_Area_Distribution', 
                'Y1': 'Heating_Load', 'Y2': 'Cooling_Load'}


dfram = dframe.rename(columns=column_names)
dframe.head()

In [ ]:
#we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(dframe), columns=dframe.columns)
features_df = normalised_df.drop(columns=['Heating_Load', 'Cooling_Load'])
heating_target = normalised_df['Heating_Load']
dframe

     Relative_Compactness  Surface_Area  ...  Heating_Load  Cooling_Load
0                    0.98         514.5  ...         15.55         21.33
1                    0.98         514.5  ...         15.55         21.33
2                    0.98         514.5  ...         15.55         21.33
3                    0.98         514.5  ...         15.55         21.33
4                    0.90         563.5  ...         20.84         28.28
..                    ...           ...  ...           ...           ...
763                  0.64         784.0  ...         17.88         21.40
764                  0.62         808.5  ...         16.54         16.88
765                  0.62         808.5  ...         16.44         17.11
766                  0.62         808.5  ...         16.48         16.61
767                  0.62         808.5  ...         16.64         16.03

[768 rows x 10 columns]

In [ ]:
#Now, we split our dataset into the training and testing dataset. Recall that we
#had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(features_df, heating_target,
test_size=0.3, random_state=1)
regressor = LinearRegression()

regressor

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Now we fit the model(regressor) to the training dataset
regressor.fit(x_train, y_train)

In [ ]:
#obtaining  predictions
predicted_values = regressor.predict(x_test)
predicted_values

array([0.17858887, 0.5814209 , 0.75366211, 0.71948242, 0.76416016,
       0.24719238, 0.16015625, 0.61010742, 0.25488281, 0.54199219,
       0.32104492, 0.66760254, 0.69421387, 0.30761719, 0.18518066,
       0.7166748 , 0.56555176, 0.31433105, 0.25610352, 0.74621582,
       0.69812012, 0.06054688, 0.60241699, 0.32666016, 0.22216797,
       0.75842285, 0.34033203, 0.17382812, 0.80944824, 0.26831055,
       0.69238281, 0.74975586, 0.13537598, 0.28466797, 0.55444336,
       0.81237793, 0.3371582 , 0.13256836, 0.72045898, 0.25305176,
       0.82666016, 0.14782715, 0.10021973, 0.15441895, 0.10961914,
       0.14770508, 0.48364258, 0.68847656, 0.75939941, 0.72338867,
       0.09716797, 0.67138672, 0.08752441, 0.24841309, 0.77172852,
       0.77648926, 0.7479248 , 0.62817383, 0.14575195, 0.30285645,
       0.17773438, 0.59765625, 0.59863281, 0.77075195, 0.56835938,
       0.92895508, 0.68664551, 0.32006836, 0.67614746, 0.23486328,
       0.54492188, 0.24755859, 0.23181152, 0.72851562, 0.28369141,
       0.67932129, 0.63671875, 0.74243164, 0.25231934, 0.52587891,
       0.13354492, 0.640625  , 0.27026367, 0.76879883, 0.2355957 ,
       0.91455078, 0.92614746, 0.8314209 , 0.25805664, 0.1842041 ,
       0.63867188, 0.51538086, 0.14025879, 0.75561523, 0.27124023,
       0.6751709 , 0.13452148, 0.68566895, 0.05480957, 0.78417969,
       0.75683594, 0.27893066, 0.60620117, 0.14953613, 0.26281738,
       0.17749023, 0.59667969, 0.58618164, 0.61010742, 0.84094238,
       0.92126465, 0.45324707, 0.55541992, 0.1418457 , 0.84289551,
       0.09802246, 0.62866211, 0.70288086, 0.71520996, 0.28271484,
       0.54870605, 0.60437012, 0.26550293, 0.54394531, 0.71289062,
       0.28088379, 0.06530762, 0.7755127 , 0.09130859, 0.25012207,
       0.79992676, 0.11242676, 0.7142334 , 0.80847168, 0.03405762,
       0.68762207, 0.52685547, 0.08740234, 0.72717285, 0.22314453,
       0.31237793, 0.60144043, 0.35083008, 0.2376709 , 0.45605469,
       0.62902832, 0.04907227, 0.82751465, 0.62768555, 0.26745605,
       0.16687012, 0.55065918, 0.78125   , 0.80664062, 0.31054688,
       0.33325195, 0.63635254, 0.18322754, 0.71472168, 0.24145508,
       0.53540039, 0.61865234, 0.72668457, 0.25585938, 0.72192383,
       0.16430664, 0.72570801, 0.63146973, 0.34216309, 0.34313965,
       0.15637207, 0.8371582 , 0.71765137, 0.23291016, 0.1373291 ,
       0.69909668, 0.14477539, 0.72619629, 0.73095703, 0.23474121,
       0.76977539, 0.08837891, 0.61584473, 0.59289551, 0.7434082 ,
       0.08276367, 0.14111328, 0.59106445, 0.17102051, 0.15063477,
       0.23303223, 0.75744629, 0.74523926, 0.6081543 , 0.1505127 ,
       0.71801758, 0.03503418, 0.6439209 , 0.0625    , 0.91748047,
       0.33618164, 0.63720703, 0.3314209 , 0.22338867, 0.5345459 ,
       0.30957031, 0.74438477, 0.09619141, 0.22253418, 0.22058105,
       0.71862793, 0.54589844, 0.56738281, 0.18139648, 0.09033203,
       0.72143555, 0.17077637, 0.57958984, 0.2253418 , 0.68273926,
       0.69140625, 0.23376465, 0.61486816, 0.10205078, 0.53076172,
       0.78039551, 0.53161621, 0.91650391, 0.22900391, 0.48083496,
       0.75292969])

In [ ]:
#Next is to callculate the Mean Abaolute Error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.063

In [ ]:
#sum of squared residuals
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

1.823

In [ ]:
#Calculating for Root Mean Square Error
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.089

In [ ]:
#R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.893